.themes{
    max-width: 1200px;
    margin: 80px auto 0 auto;
    padding: 25px;
    .line_div {
        width: 100%;
        margin: 120px auto  40px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .line {
            width: 32%;
            height: 2px;
            background-color: black;
        }
        p{
            // width: 100%;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin: 0px 20px;
        }
    }
    h2{
        margin-top: 20px;
        margin-bottom: 20px;


    }

    p{
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .paragraph1{
        margin-top: 10px;

        .p1{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .p2{
            margin-top: 12px;
        }

    }
    .paragraph2 p{
        margin-top: 20px;

    }



}


@media (max-width:655px){
    .line_div{
        .line{
            width: 28% !important;
        }
        p{
            font-size: 18px !important ;
        }
    }
}

@media (max-width:503px){
    .line_div{
        .line{
            width: 24% !important;
        }
        p{
            font-size: 14px !important ;
        }
    }
}

@media (max-width:368px){
    .line_div{
        .line{
            width: 18% !important;
        }
        p{
            // width: 100%;
            font-size: 14px !important ;
        }
    }
}
