.mainDiv{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

.line_div {
    width: 80%;
    margin: 80px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
        width: 40%;
        height: 2px;
        background-color: black;
    }

    p {
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0px 20px;
    }
}

  
.imageGalery{
    margin-bottom: 50px;
    width: 70%;
    margin: 0 auto;

  

}

}

