.home{
    width: 100%;
    // background-color: black;
        height: 1300px;



        .hello{
            margin-top: 80px ;
            // margin-bottom: 230px;
            // top: 100px;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 16px;
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0);
            height: 80px;
            ;
        }

}
