.home{
    width: 100%;
    // background-color: black;
        height: 1300px;



        .hello{
            // margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 16px;
            // background: rgb(88, 87, 87);
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0);
            height: 80px;

        }

}
