@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.container_pay{
 max-width: 1200px;
  margin: 120px auto;
  // background-color:rgb(221, 214, 214);

 .box-pay{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  background-color:rgb(221, 214, 214);

  .modaling{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
      width: 600px;
      background-color:rgb(221, 214, 214);
      padding: 30px;
      border-radius: 10px;
      opacity: 0.8;
    
      
    
      .modesta{
        cursor: pointer;
        width: 100%;
        height: 60px;
        display: flex;
        padding-left: 20px;
        box-shadow: 10px 5px 5px gray;
        border-radius: 6px;
        margin-top: 20px;
        opacity: 1 !important;
        img{
          width: 120px;
                    height: 50px;
                  
                   object-fit: fill;
                    
        }
      }
    
    }


  .total-box{
    display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
    width: 400px;
    background-color:rgb(231, 222, 222);
    padding: 30px;
    border-radius: 10px;
    opacity: 0.8;
    margin-top: 50px;
    .total{
      width: 100%;
      text-align: center;
      font-size: 22px;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
   .text{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
   }
      
      .line{
        width: 100%;
        border: 1px Solid black;
        margin: 5px 5px;
      }
    }
  }
 }
.mainpay {
  // display: flex;
  // margin: 100px 350px;
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #635BFF;
  --radius: 3px;
  padding: 20px;
  font-family: 'Raleway';
  // justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .Payment{
    header{
  
      .paypay{
       
        .success{
          display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
          width: 100%;
          background-color:rgb(221, 214, 214);
          padding: 30px;
          border-radius: 10px;
          opacity: 0.8;
          a{
            color:black;
            margin-top: 10px;
          }
        }
    }
    }
}
}


form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}



.lav {
  background:  #635BFF;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
.lav:hover {
  filter: contrast(115%);
}
.lav:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
.zulo:disabled {
  opacity: 0.5;
}
.spantitle{
  font-size: 20px;
  margin-top: 6px;
  margin-left: 80px;
  color:  #0A2540;
}
}

@media(max-width:833px){
  .container_pay{
    .box-pay{
      .modaling{
        h1{
          font-size: 25px;
          width:318px
        }
        .modesta{
          .spantitle{
            // display: flex;
            // justify-content: flex-start;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media(max-width:768px){
.container_pay{
  .box-pay{
    flex-direction: column;
    .modaling{
      width: 80%;
      .modesta{
        .spantitle{
          display: flex;
            justify-content: center;
            align-items: center;
        }
      }
    }
  }
}

}

@media(max-width:567px){
  .container_pay{
    .box-pay{
      .modaling{
        width: 90%;
         

         
        .modesta{
          .spantitle{
            font-size: 15px;
            
          }
        }
      }
    }
  }
  
  }

  @media(max-width:425px){
    .container_pay{
      .box-pay{

        .total-box{
          width:90%
        }
        
          .modaling{
            // height: 70px;
            .modesta{
              height: 90px;
            flex-direction: column;
            align-items: center;

            .spantitle{
              font-size: 20px;
            }

            
          }
        }
        }
      }
  }