input{
width: 300px;
padding: 10px;
border-radius: 30px;
border: 2px solid;

}
.Aaa{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    display: flex;
    justify-content: center;
}

label{
    display: flex;
    justify-content: center;
    width: 300px;
    
}
button{
    width: 180px;
    padding: 20px;
    background-color: aqua;
    font-size: 18px;
    border-radius: 30px;
}

select{
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
  
}

select::-ms-expand {
    display: none;
    }
    
