.Tasks {
  width: 100%;
  background-color: gray;
  padding-top: 200px;
  padding-bottom: 3%;

  .searchTasks {
    margin: 0px auto;
    padding: 1rem;
    width: 70%;
    border: 3px solid white;
    border-radius: 15px;

    span {
      color: white;
      font-size: 18px;
    }

    select,
    input,
    button {
      width: 150px;
      padding: 10px;
      background-color: rgba(95, 158, 160, 0.779);
      border-radius: 7px;
      margin-left: 35px;
      font-size: 16px;
      text-align: center;
      color: rgb(41, 41, 41);
      text-decoration: none;
      transition: all 0.5s linear;
      margin-bottom: 15px;
    }

    input {
      width: 300px;
      text-align: start;
      background: white;
    }
  }

  .Tasks_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 3px solid white;
    border-radius: 15px;

    .Tasks_item {
      width: 300px;
      background-color: rgb(123, 123, 123);
      border-radius: 7px;
      border-bottom: 3px solid white;
      border-right: 3px solid white;
      padding: 0.5rem;
      font-size: 14px;
      text-align: center;
      color: rgb(41, 41, 41);

      .Tasks_field {
        margin-bottom: 0.5rem;
      }

      .Tasks_buttons {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 0.5rem;

        button {
          width: 50px;
          padding: 5px;
          background-color: rgba(95, 158, 160, 0.779);
          border-radius: 7px;
          transition: all 0.5s linear;
        }

        button:hover {
          cursor: pointer;
          transform: scale(1.1);
          background-color: rgb(101, 178, 181);
        }
      }
    }
  }

  .buttonContainer {
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 150px;
      padding: 10px;
      background-color: rgba(95, 158, 160, 0.779);
      border-radius: 7px;
      margin-left: 5px;
      font-size: 16px;
      text-align: center;
      color: rgb(41, 41, 41);
      text-decoration: none;
      transition: all 0.5s linear;
    }

    button:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: rgb(101, 178, 181);
    }
  }

  @media (max-width: 1200px) {
    .Tasks {
      padding-top: 80px;
    }

    .searchTasks {
      width: 60%;

      select,
      input,
      button {
        width: 120px;
        margin-left: 15px;
      }

      input {
        width: 200px;
      }
    }

    .Tasks_container {
      width: 90%;

      .Tasks_item {
        font-size: 12px;

        .Tasks_buttons {
          button {
            width: 40px;
            padding: 4px;
            margin-left: 3px;
          }
        }
      }
    }

    .buttonContainer {
      width: 90%;

      button {
        width: 120px;
        margin-left: 3px;
      }
    }
  }

  @media (max-width:769px) {
    .searchTasks {
      width: 100%;

      select,
      input,
      button {
        width: 100%;
        margin-left: 0;
      }

      input {
        width: 100%;
      }
    }

    .Tasks_container {
      width: 100%;

      .Tasks_item {
        font-size: 12px;

        .Tasks_buttons {
          button {
            width: 40px;
            padding: 4px;
            margin-left: 3px;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    .Tasks_container {
      width: 100%;

      .Tasks_item {
        font-size: 12px;

        .Tasks_buttons {
          button {
            width: 40px;
            padding: 4px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
