.Order {
    width: 90%;
    margin: 100px 0 0px 0;
    min-height: 800px;

    .step {
        display: flex;
        
        .step1,.step2,.step3,.step4,.step5 {
            width: 20%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .klor {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background-color: gray;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 50px;
            }

            hr {
                width: 55%;
                height: 10px;
                background-color: gray;
            }
        }
        .step1{
            hr{
                opacity: 0;
            }
        }
        .ak{
            .klor{
                background-color: green;
            }
            hr{
                background-color: blue;
            }
        }
    }
   
}

@media (max-width:769px) {
    #klor1 {
        width:60px;
        height: 60px;
        border-radius: 100%;
        
    }
    #klor2 {
        width:60px;
        height: 60px;
        border-radius: 100%;
        
    }
    #klor3 {
        width:60px;
        height: 60px;
        border-radius: 100%;
        
    }
     #klor4 {
        width:60px;
        height: 60px;
        border-radius: 100%;
        
    }
    #klor5 {
        width:60px;
        height: 60px;
        border-radius: 100%;
        
    }

   
}
@media (max-width:500px) {
    #klor1 {
        width:50px;
        height: 50px;
        border-radius: 100%;
        
    }

    #klor2 {
        width:50px;
        height: 50px;
        border-radius: 100%;
        
    }
    #klor3 {
        width:50px;
        height: 50px;
        border-radius: 100%;
        
    }
    #klor4 {
        width:50px;
        height: 50px;
        border-radius: 100%;
        
    }
    #klor5 {
        width:50px;
        height: 50px;
        border-radius: 100%;
        
    }

   
}
@media (max-width:400px) {
    #klor1{
        width:50px;
        height: 50px;
        border-radius: 100%;
        font-size: 40px;
        
    }
    #klor2{
        width:50px;
        height: 50px;
        border-radius: 100%;
        font-size: 40px;
        
    }
    #klor3{
        width:50px;
        height: 50px;
        border-radius: 100%;
        font-size: 40px;
        
    }
    #klor4{
        width:50px;
        height: 50px;
        border-radius: 100%;
        font-size: 40px;
        
    }
    #klor5{
        width:50px;
        height: 50px;
        border-radius: 100%;
        font-size: 40px;
        
    }

   
}
@media (max-width:350px) {
    #klor1 {
        width:45px;
        height: 45px;
        border-radius: 100%;
        font-size: 24px;
        
    }
    #klor2 {
        width:45px;
        height: 45px;
        border-radius: 100%;
        font-size: 24px;
        
    }
    #klor3 {
        width:45px;
        height: 45px;
        border-radius: 100%;
        font-size: 24px;
        
    }
    #klor4 {
        width:45px;
        height: 45px;
        border-radius: 100%;
        font-size: 24px;
        
    }
    #klor5 {
        width:45px;
        height: 45px;
        border-radius: 100%;
        font-size: 24px;
        
    }

   
}




