.OrderingInformation {
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
}

.OrderingInformation .Order {
  border: 1px solid #000;
}

.OrderingInformation .Order .head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.OrderingInformation .Order .head img {
  width: 300px;
  height: 200px;
}

.OrderingInformation .Order .head p {
  width: 300px;
}

.OrderingInformation .Order input[type=text] {
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: crimson;
  box-shadow: 5px 8px #888888;
}

.OrderingInformation .Order label {
  font-size: 14px;
  color: #888888;
}

.OrderingInformation .Order .invoices {
  display: flex;
  width: 100%;
}

.OrderingInformation .Order .invoices .inv-box {
  width: 60%;
}

.OrderingInformation .Order .invoices .inv-box .invoice {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .invoices .inv-box form {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.OrderingInformation .Order .invoices .inv-box1 {
  width: 40%;
  text-align: center;
}

.OrderingInformation .Order .invoices .inv-box1 .invoice1 {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .invoices .inv-box1 .checked {
  display: flex;
}

.OrderingInformation .Order .invoices .inv-box1 .checked form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderingInformation .Order .invoices .inv-box1 .checked form div {
  margin-top: 10px;
  width: 56%;
  display: flex;
}

.OrderingInformation .Order .invoices .inv-box1 .framecolor {
  display: flex;
  flex-direction: column;
}

.OrderingInformation .Order .frames {
  display: flex;
  width: 100%;
}

.OrderingInformation .Order .frames .fram-box {
  width: 50%;
}

.OrderingInformation .Order .frames .fram-box .frame {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .frames .fram-box form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.OrderingInformation .Order .frames .fram-box1 {
  width: 50%;
  text-align: center;
}

.OrderingInformation .Order .frames .fram-box1 .frame1 {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .frames .fram-box1 .checked {
  display: flex;
}

.OrderingInformation .Order .frames .fram-box1 .checked form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderingInformation .Order .frames .fram-box1 .checked form div {
  margin-top: 10px;
  width: 50%;
  display: flex;
}

.OrderingInformation .Order .frames .fram-box1 .framecolor {
  display: flex;
  flex-direction: column;
}

.OrderingInformation .Order .frames .fram-box1 .framecolor div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.OrderingInformation .Order .frames .fram-box1 .framecolor div label {
  margin-right: 10px;
}

.OrderingInformation .Order .lens {
  display: flex;
  width: 100%;
  text-align: center;
}

.OrderingInformation .Order .lens .lens-box {
  width: 100%;
}

.OrderingInformation .Order .lens .lens-box .lensis {
  display: flex;
  justify-content: space-around;
}

.OrderingInformation .Order .lens .lens-box .lensis .line {
  border: 1px solid #888888;
  margin-left: 0px;
  margin-bottom: 30px;
}

.OrderingInformation .Order .lens .lens-box .len {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .lens .lens-box form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.OrderingInformation .Order .lens .lens-box form div {
  margin-left: 60px;
  margin-top: 8px;
  width: 100%;
  display: flex;
}

.OrderingInformation .Order .lens .lens1 {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .lens .checked {
  display: flex;
}

.OrderingInformation .Order .lens .checked form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderingInformation .Order .lens .checked form div {
  margin-top: 10px;
  width: 50%;
  display: flex;
}

.OrderingInformation .Order .lens .framecolor {
  display: flex;
  flex-direction: column;
}

.OrderingInformation .Order .clip {
  display: flex;
  width: 100%;
}

.OrderingInformation .Order .clip .clip-box {
  width: 60%;
  text-align: center;
}

.OrderingInformation .Order .clip .clip-box .clipe {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .clip .clip-box form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.OrderingInformation .Order .clip .clip-box form div {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.OrderingInformation .Order .clip .clip-box1 {
  width: 40%;
}

.OrderingInformation .Order .clip .clip-box1 .clipe1 {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .clip .clip-box1 .checked {
  display: flex;
  justify-content: center;
}

.OrderingInformation .Order .clip .clip-box1 .checked form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.OrderingInformation .Order .clip .clip-box1 .checked form div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.OrderingInformation .Order .clip .clip-box1 .checked form div label {
  margin-left: 10px;
}

.OrderingInformation .Order .office {
  display: flex;
  width: 100%;
}

.OrderingInformation .Order .office .office-box {
  width: 100%;
}

.OrderingInformation .Order .office .office-box .offic {
  display: flex;
  justify-content: space-around;
}

.OrderingInformation .Order .office .office-box .off {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: azure;
}

.OrderingInformation .Order .office .office-box form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.OrderingInformation .Order .office .office-box form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderingInformation .Order .total {
  width: 100%;
  display: flex;
}

.OrderingInformation .Order .total .total-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background: #000;
  color: white;
  font-size: 15px;
  line-height: 0px;
}

.OrderingInformation .Order .total .total-box1 {
  width: 30%;
  color: #000;
  align-items: center;
  border: 1px solid #000;
}

.OrderingInformation p {
  color: #888888;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .invoices {
    flex-direction: column;
    align-items: center;
  }
  .frames {
    flex-direction: column;
    align-items: center;
  }
  .lens {
    flex-direction: column;
    align-items: center;
  }
  .clip {
    flex-direction: column;
    align-items: center;
  }
  .offic {
    flex-direction: column;
    align-items: center;
  }
  .total {
    flex-direction: column;
    align-items: center;
  }
}
