.Clip_slideshow {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  
    @media (max-width: 1238px) {
      width: 90%;
    }
  
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  
  .Clip_line_div {
    width: 80%;
    margin: 100px auto 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .Clip_line {
      width: 40%;
      height: 2px;
      background-color: black;
  
      @media (max-width: 1238px) {
        width: 30%;
      }
  
      @media (max-width: 540px) {
        width: 20%;
      }
    }
  
    p {
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin: 0px 20px;
  
      @media (max-width: 1238px) {
        font-size: 20px;
      }
  
      @media (max-width: 540px) {
        font-size: 20px;
      }
    }
  }
  
  .Clip_slideshowSlider {
    max-width: 900px;
    margin: 0 auto;
    white-space: nowrap;
    transition: ease 800ms;
  }
  
  .Clip_activee {
    display: inline-block;
    width: 100%;
    border-radius: 40px;
    z-index: 30000;
  
    img {
      width: 85%;
    }
  }
  
  .Clip_aslide {
    height: 300px;
    margin-top: 100px;
  }
  
  .Clip_slideshowDots {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
  
    .Clip_slideshowDot {
      opacity: 0.3;
      padding: 1rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  
    .Clip_slideshowDot.active {
      opacity: 1;
    }
  }
  